@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: #040405;
}

.inner-box{
    width: 500px;
    border: 0.1px solid #e4d4d7;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    border-radius: 15px;
    /* background-color: #ffffff11; */
    background: linear-gradient(to bottom right, #ffffff55, #ffffff00);
    backdrop-filter: blur(20px);
    box-shadow: 3px 3px 8px #e4d4d744;
    z-index: 2;
}       

.signup-head h1{
    color: #e4d4d7;
}
.signup-head p{
    font-size: 0.8rem;
    color: #e4d4d7;
    margin-top: 5px;
}

.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-size: 1.2rem;
    color: #e4d4d7;
}
.signup-body p input{
    font-size: 0.9rem;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e4d4d7;
    border-radius: 5px;
    background-color: transparent;
}
.signup-body p input[type="submit"]{
    background-color: #ff194a;
    border: none;
    color: #e4d4d7;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #292929;
}
.signup-foot p{
    color: #e4d4d7;
    text-align: center;
}
.signup-foot p a{
    color: #ff194a;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
}
.c1{
    top: 30px;
    left: 61%;
    background: linear-gradient(to right, #ec058a, #f76466);
}
.c2{
    bottom: 30px;
    right: 61%;
    background: linear-gradient(to right, #d822fc, #9a31ee);
}